<nav class="navbar navbar-default navbar-inverse navbar-fixed-top pull-left"
role="navigation">
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
		<li ng-model="showAccount" ng-show="!showAccount">
			<a href="/">E-Commerce App</a>
		</li>
		<li>
			<a href="/products">Products</a>
		</li>
		<li ng-model="showAccount" ng-show="showAccount">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Your Account
			<ul class="dropdown-menu">
				<li><a href="/account">Account Details</a></li>
				<li><a href="#" ng-click="signOut()" >Sign Out</a></li>
			</ul>
		</li>
	 </ul>
	 	<ul class="nav navbar-nav pull-right">

		<li ng-model="showAccount" ng-show="showAccount"><a href="/shoppingCart" >Shopping Cart</a></li>
	</ul>
</div>
</nav>