<br> 
<div class="container" align="center">
  <div class="page-header">
    <h3 align="center">
      <div>
      </div>
      <i>{{loggedInUser.name | uppercase }}, </i>Welcome to your account page.
    </h3>
  </div>
  <br>
  <div class="row">
    <div class="alert alert-danger" ng-model="warning" ng-show="warning" >
      <strong ><p align="center">The Passwords entered do not match</strong> </p>
    </div>
    <div class="col-md-3">
     <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Your User Details</b>   
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr><th>Name</th><th>Address</th></tr> 
          <tr>
            <td>
              {{loggedInUser.name}} {{loggedInUser.lastName}}
            </td>
            <td>
              {{loggedInUser.address }}
            </td>
          </tr>
        </table>
        <table class="table table-bordered">
          <tr><th>Email</th></tr> 
          <tr>
            <td>
              {{loggedInUser.email }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Change Your Password</b>
        </h3>
      </div>
      <div class="panel-body">
        <form ng-submit="updateUser()">
          <div class="form-group">
            <br>
            <span class="badge">Enter New Password</span>
            <br>
            <input type="password" class="form-control" ng-model="password1">
            <span class="badge">Confirm New Password</span>
            <br>
            <input type="password" class="form-control" ng-model="password2">
          </div>
          <br>
          <input type="submit" class="btn btn-danger"  value="Change Password"> 
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
   <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <b>
         Orders Completed
       </b>
     </h3>
   </div>
   <div class="panel-body" align="center">
    <div class="col-md-12">
      <ul  class="orders">
        <li ng-repeat="order in loggedInUser.myOrders" class="thumbnail account">
        <font size="1">Order no:{{order.orderNum}}
         <ul  class="orders">
           <li ng-repeat="phone in order.orderedProducts" class="thumbnail account">
            {{phone.id}}</li>
            Order Total: &euro;{{order.orderTotal}}</b>
            <p>Status: <span style="color:red"> {{order.orderStatus}}</span>
            </p>
            </font>
              <button ng-show="order.orderStatus == 'Incomplete'" class="btn btn-xs btn-info btn-block" type="submit" ng-click="completeOrder()"> Complete order
              </button></p>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-info">
    <div class="panel-heading" align="center">
      <h1 class="panel-title">
        <b>Our Latest Products</b>
      </h1>
      <select ng-model="orderProp">
        <option value="age">Newest</option>
      </select>
    </div>
    <div class="panel-body">
      <div class="col-md-10">
        <ul  class="phones">
          <li ng-repeat="phone in phones | filter:{name: query } | orderBy:orderProp | limitTo:quantity" class="thumbnail">
            <a href="/products" class="thumb account"><img ng-src="{{phone.imageUrl}}" ></a>
            <a href="/products" class="thumb account">{{phone.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>