<br><br><br>
<div class="container" id="checkout">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 align="center"><p>Please Enter Card Details For:  {{loggedInUser.name |uppercase}} {{loggedInUser.lastName | uppercase}} </p></h4>
		</div>
		<form no validate>
			<div class="panel-body">
				<label>
					Enter Card No
				</label>
				<input type="text" class="form-control" required="required" placeholder="Card No">
				<label>
					Enter Card Type 
				</label>
				<input type="text" class="form-control" required="required" placeholder="Card Type ">
				<label>
					Enter Expiry Date
				</label>
				<input type="text" class="form-control" required="required" placeholder="Expiry Date">
				<label>
					Enter CV Code
				</label>
				<input type="text" class="form-control" required="required" placeholder="CV Code">
				<br>
				<h1>Order Total: &euro;  <span style="color:red" ng-bind="incompleteOrder.total"> </span>
				</h1>
				<button class="btn btn-xs btn-info btn-block" type="submit" 
				 ng-click="payForOrder()"> Complete order
            </button>
			</div>
		</form>
	</div>
</div>
<br><br><br>