<br><br><br>
<div class="container" id="register">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h1 class="panel-title" align="center">
				Register For Your Account Here!
				<h1>
				<div class="alert alert-danger" ng-model="warning" ng-show="warning" >
				<strong ><p align="center">Sorry! This email address is already registered!</strong> </p>
				</div>
				</div>
				<div class="row">
					<div class="panel-body col-sm-12 col-md-8 col-md-offset-2">
						<form no validate ng-submit="registerUser()">
							<label>
								Enter First Name 
							</label>
							<input type="text" required="required"class="form-control" ng-model="newUser.name" placeholder="eg: Joe">
							<label>
								Enter Last Name 
							</label>
							<input type="text" required="required" class="form-control" ng-model="newUser.lastName" placeholder="eg: Bloggs">
							<label>
								Enter Address 
							</label>
							<input type="text" required="required" class="form-control" ng-model="newUser.address" placeholder="eg: 123 Ireland">
							<label>
								Enter Email 
							</label>
							<input required="required" class="form-control" ng-model="newUser.email" placeholder="eg: user@user.com">
							<label>
								Enter Password
							</label>
							<input type="password" required="required" class="form-control" ng-model="newUser.password" placeholder="Password">
                             <br>
							<button class="btn btn-lg btn-info btn-block" type="submit">
								Register Now</button>
							</form>
						</div>
					</div>
				</div>
			</div>