<br>
<div class="container" align="center">
  <div class="page-header">
    <h3 align="center">
      <div>
      </div>
      Welcome <i>{{loggedInUser.name | uppercase }} </i>To Your Account Page.
    </h3>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
     <br><br>
     <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Your User Details</b>   
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr><th>Name</th><th>Last Name</th><th>Address</th><th>Email</th></tr> 
          <tr>
            <td>
              {{loggedInUser.name}}
            </td>
            <td>
              {{loggedInUser.lastName}}
            </td>
            <td>
              {{loggedInUser.address }}
            </td>
            <td>
              {{loggedInUser.email }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <br><br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Change Password</b>
        </h3>
      </div>
      <div class="panel-body">
        <form ng-submit="updateUser()">
          <div class="form-group">
            <br>
            <span class="badge">Enter New Password</span>
            <br>
            <input type="password" class="form-control" ng-model="password1">
            <span class="badge">Confirm New Password</span>
            <br>
            <input type="password" class="form-control" ng-model="password2">
          </div>
          <br>
          <input type="submit" class="btn btn-danger"  value="Change Password"> 
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
   <br><br>
   <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <b>
         Orders Completed
       </b>
     </h3>
   </div>
   <div class="panel-body" align="center">
    <div class="col-md-12">
      <ul  class="phones">
        <li ng-repeat="order in loggedInUser.myOrders" class="thumbnail">
          <p><b>Order no:{{order.orderNum}}: {{order.orderedProduct.name}}
          Order Total: &euro;{{order.orderPrice}}</b></p>
          <p><b>Status: <span style="color:red"> {{order.orderStatus}}</span></b>  <button class="btn btn-xs btn-info btn-block" type="submit"> Complete order
          </button></p>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>