
<div class="col-md-4">
 <br><br>
 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <b>Your Existing Account Details.</b>
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
       First Name:
     </li>
     <li class="list-group-item">
      Last Name:
    </li>
    <li class="list-group-item">
      Delivery Address:
    </li>
  </ul>
</div>
</div>
</div>

<div class="col-md-4">
 <br><br>
 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <b>
        Enter new Details
      </b>
    </h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      &nbsp;
      <span class="badge"></span>
      <span class="badge">First Name</span>
      <input type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
      <label>
      </label>
      <span class="badge">Last Name</span>
      <input type="text" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label>
      </label>
      <span class="badge">Delivery Address</span>
      <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
      <div class="form-group">
        <span class="badge"></span>
      </div>
    </div>
    <button type="submit" class="btn btn-success pull-right">
      Edit!
    </button>
  </div>
</div>
</div>

<div class="col-md-4">
  <br><br>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <b>Change Password</b>
      </h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        &nbsp;
        <span class="badge">Enter New Password</span>
        <input type="password" class="form-control" placeholder="New password">
      </div>
      <div class="form-group">
        <span class="badge">Confirm New Password</span>
        <input type="password" class="form-control" placeholder="Confirm Password">
      </div>
      <button type="submit" class="btn btn-success pull-right">
        Edit!
      </button>
    </div>
  </div>
</div>