<div class="jumbotron" id="footer">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<b>
							Site Author Contact Details
						</b>
					</h3>
				</div>
				<div class="panel-body">
					Email: <a href="mailto:columfoskin@gmail.com">columfoskin@gmail.com</a>
					<hr>
					Phone: 085 7777314
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<b>
                          Social Media
						</b>
					</h3>
				</div>
				<div class="panel-body">
					LinkedIn:
					<hr>
					Twitter:
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<b>
                          maps
						</b>
					</h3>
				</div>
				<div class="panel-body">
				<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
				</div>
			</div>
		</div>
	</div>
</div>