<div class="page-header">
	<h3 align="center">
		Welcome To Colum Foskins E-Commerce Web application.
	</h3>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item">
			<img src="../../images/mob2.jpg" alt="mob" width="460" height="345">
		</div>
		<div class="item active">
			<img src="../../images/ecommerce.png" alt="mob2" width="460" height="345">
		</div>
		<div class="item">
			<img src="../../images/mob.jpg" alt="ecommerce" width="460" height="345">
		</div>
	</div>
</div>
<div ng-model="showLogIn" ng-hide="showLogIn"  ng-include="'/myApp/views/partials/login.html'">
</div>
