<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading" align="center">
			<h1 class="panel-title">
             <b>Our Latest Products</b>
			</h1>
				<select ng-model="orderProp">
					<option value="name">Alphabetical</option>
					<option value="age">Newest</option>
				</select>
		</div>
		<div class="panel-body">
  <div class="col-md-12">
  	<ul  class="phones">
  		<li ng-repeat="phone in phones | filter:{name: query } | orderBy:orderProp | limitTo:quantity" class="thumbnail">
  	         <a href="/products" class="thumb"><img ng-src="{{phone.imageUrl}}" ></a>
  			<a href="/products" class="thumb">{{phone.name}}</a>
  		</li>
  	</ul>
  </div>
</div>

</div>
</div>
