
<div class="panel panel-info">
	<div class="panel-heading" align="center">
		<h2 class="panel-title">
			<b>Latest Products
		</h2>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
			<button type="submit" class="btn btn-primary btn-xs pull-right">
					View Now
				</button>
				item 1
				
			</li>
			<li class="list-group-item">
				item 2
				<button type="submit" class="btn btn-primary btn-xs pull-right">
					View Now
				</button>
				<b>
				</li>
				<li class="list-group-item">
					item 3
					<button type="submit" class="btn btn-primary btn-xs pull-right">
						View Now
					</button>
				</li>
			</ul>
		</div>
	</div>