<br>
<div class="container" id="register">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title" align="center">
				<b>Register For Your Account Here!</b>
			<h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>
					Enter Email 
				</label>
				<input type="text" class="form-control" placeholder="Email Address">
			</div>
			<div class="form-group">
			    <label>
					Enter Password
				</label>
				<input type="password" class="form-control" placeholder="Password">
				<br>
				<button type="submit" class="btn pull-right btn-lg btn-success">
					Register!
				</button>
			</div>
		</div>
	</div>
</div>
