<br>
<div class="container" id="register">
    <div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title" align="center">
				<b>Register For Your Account Here!</b>
			<h3>
		</div>
	 <form novalidate ng-submit="addUser()">
		<div class="form-group">
		   <div class="panel-body">
		      <div class="form-group">
				  <label>
					Enter First Name 
				  </label>
				  <input type="text" class="form-control" ng-model="newUser.name" placeholder="First Name">
			   </div>
			   <div class="form-group">
				  <label>
				   	Enter Last Name 
				  </label>
				  <input type="text" class="form-control" ng-model="newUser.lastName" placeholder="Last Name">
			    </div>
			    <div class="form-group">
				   <label>
					Enter Address 
				   </label>
				   <input type="text" class="form-control" ng-model="newUser.address" placeholder="Address">
			    </div>
			    <div class="form-group">
				   <label>
					Enter Email 
				   </label>
				   <input type="text" class="form-control" ng-model="newUser.email" placeholder="Email Address">
			    </div>
			    <div class="form-group">
			       <label>
					Enter Password
				   </label>
				   <input type="password" class="form-control" ng-model="newUser.password" placeholder="Password">
				   <br>
				    <button  type="submit" class="btn pull-right btn-lg btn-success">
				    	Register Now!
				   </button>
			    </div>
			</div>
		</div>
	 </form>
	</div>
</div>
