<br>
<div class="container" align="center">
<div class="page-header">
  <h3 align="center">
    <div>
    </div>
    Welcome To <i>{{loggedInUser.name | uppercase }} </i>'s Shopping Cart Page.
  </h3>
</div>
<br>
   <div class="panel panel-info" id="cart-panel">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Your Shopping Cart</b>
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <button type="submit" class="btn btn-success btn-xs pull-right">
              Buy Now
            </button>
            item 1
            <button type="submit" class="btn btn-danger btn-xs pull-right">
              Remove
            </button>
          </li>
          <li class="list-group-item">
            item 2
            <button type="submit" class="btn btn-success btn-xs pull-right">
              Buy Now
            </button>
            <b></b>
            <button type="submit" class="btn btn-danger pull-right btn-xs">
              Remove
            </button>
          </li>
          <li class="list-group-item">
            item 3
            <button type="submit" class="btn btn-success btn-xs pull-right">
              Buy Now
            </button>
            <button type="submit" class="btn btn-danger pull-right btn-xs">
              Remove
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br><br><br>
