<!DOCTYPE html>
<html lang="en" ng-app="eCommerceApp">

<head>
  <title>
    Colum Foskin's E-Commerce Application
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../css/custom.css" rel="stylesheet">
  <link href="../../styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../styles/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="../../jsLibraries/jquery.min.js"></script>
  <script src="../../jsLibraries/bootstrap.min.js"></script>
  <script src="../../support/angular.js"></script>
</head>
<div ng-include="'./partials/navbar.html'">
</div>
<body>
  <div class="container">
    <br>
    <body>
      <div class="container">
        <div class="page-header">
          <h1 class="text-center">
            <i><span style="font-style: normal;">
              Edit Your Account Details Here
            </span></i>
          </h1>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-center">
            </h3>
            <div class="row">
              <div class="col-md-6">
                <h3>
                </h3>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <b>Your Existing Account Details.</b>
                    </h3>
                  </div>
                  <div class="panel-body">
                    First Name:
                    <div>
                      <br>
                      <div>
                        Last Name:
                      </div>
                      <div>
                        <br>
                        <div>
                          Delivery Address:
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h3>
                </h3>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <b>
                        Enter new Details
                      </b>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      &nbsp;
                      <span class="badge"></span>
                      <span class="badge">First Name</span>
                      <input type="text" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                      <label>
                      </label>
                      <span class="badge">Last Name</span>
                      <input type="text" class="form-control" placeholder="Last Name">
                      <div class="form-group">
                        <label>
                        </label>
                        <span class="badge">Delivery Address</span>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-group">
                        <span class="badge"></span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">
                      Edit!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="text-center">
            </h3>
            <br>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <b>Change Password</b>
                </h3>
              </div>
              <div class="panel-body">
              </div>
              <div class="form-group">
                <label>
                </label>
                <span class="badge">Enter New Password</span>
                <input type="password" class="form-control" placeholder="New password">
              </div>
              <div class="form-group">
                <span class="badge"></span>
                <label>
                </label>
                <span class="badge">Confirm New Password</span>
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
      </script>
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
      </script>
    </body>
    <div ng-include="'./partials/footer.html'">
    </div>
  </div>
</body>

</html>