<!DOCTYPE html>
<html lang="en" ng-app="eCommerceApp">
<head>
	<title>
		Colum Foskin's E-Commerce Application
	</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../css/custom.css" rel="stylesheet">
	<link href="../../styles/bootstrap.min.css" rel="stylesheet">
	<link href="../../styles/bootstrap-glyphicons.css" rel="stylesheet">
	<script src="../../jsLibraries/jquery.min.js"></script>
	<script src="../../jsLibraries/bootstrap.min.js"></script>	<style>
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 70%;
		margin: auto;
	}
</style>
</head>
<div class="container">
	<body>
		<navbar-directive></navbar-directive>
		<div class="row">
			<div ng-view ></div>
		</div>
		<footer-directive></footer-directive>
		<script src="../../support/angular.js"></script> 
		<script type='text/javascript' src='../../jsLibraries/infinite-scroll.min.js'></script>
		<script src="../../support/angular-route.js"></script>
		<script src='../../jsLibraries/lodash.min.js'></script>
		<script src='../../jsLibraries/angular-simple-logger.js'></script>
		<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
		<script src='../../jsLibraries/angular-google-maps.js'></script>
		<script src="../app.js"></script>
	</body>
</div>

</html>