<!DOCTYPE html>
<html lang="en" ng-app="eCommerceApp">

<head>
  <title>
    Colum Foskin's E-Commerce Application
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../css/custom.css" rel="stylesheet">
  <link href="../../styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../styles/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="../../jsLibraries/jquery.min.js"></script>
  <script src="../../jsLibraries/bootstrap.min.js"></script>
  <script src="../../support/angular.js"></script>
</head>
<div ng-include="'./partials/navbar.html'">
</div>
<body>
  <div class="container">
    <br>
    <body>
      <div class="container" align="center">
        <div class="page-header">
          <h1 class="text-center">
            <i><span style="font-style: normal;">
              Complete Your Orders            </span></i>
            </h1>
          </div>

          <div class="panel panel-info" id="cart-panel">
            <div class="panel-heading">
              <h3>
                <b>Your Shopping Cart</b>
              </h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <button type="submit" class="btn btn-success btn-xs pull-right">
                    Buy Now
                  </button>
                  item 1
                  <button type="submit" class="btn btn-danger btn-xs pull-right">
                    Remove
                  </button>
                </li>
                <li class="list-group-item">
                  item 2
                  <button type="submit" class="btn btn-success btn-xs pull-right">
                    Buy Now
                  </button>
                  <b>
                    <button type="submit" class="btn btn-danger pull-right btn-xs">
                      Remove
                    </button>
                  </li>
                  <li class="list-group-item">
                    item 3
                    <button type="submit" class="btn btn-success btn-xs pull-right">
                      Buy Now
                    </button>
                    <button type="submit" class="btn btn-danger pull-right btn-xs">
                      Remove
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </body>
          <br><br><br>
          <div ng-include="'./partials/footer.html'">
          </div>
        </div>
      </body>

      </html>